<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Zack</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Ask Zack</h1>
    <form id="askForm">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question">
        <input type="submit" value="Ask">
    </form>
    <div id="response"></div>

    <script>
        $(document).ready(function() {
            $('#askForm').submit(function(e) {
                e.preventDefault();

                let question = $('#question').val();

                $.ajax({
                    url: '/ask',
                    method: 'POST',
                    data: {question: question},
                    success: function(data) {
                        $('#response').html('<p>' + data.response + '</p>');
                    },
                    error: function(err) {
                        $('#response').html('<p>Error: ' + err.responseJSON.error + '</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>
